<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Codecool Shop</title>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/slider.css"/>
    <script src="https://kit.fontawesome.com/8d9ea205ec.js" crossorigin="anonymous"></script>
    <script type="module" src='/static/js/main.js' defer></script>
</head>

<body>

<div th:replace="navbar.html :: nav"></div>
<div class="video-container">
    <div class="video-wrapper">
        <video playsinline autoplay muted loop poster="">
            <source src="/static/background-video/bgVideo.mp4" type="video/webm" loop>
            Your browser does not support the video tag.
        </video>

        <div class="header">
            <h1>Trailer Shop</h1>
            <h2>Spend your money here</h2>
        </div>
    </div>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span id="close" class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>
<div class="container-media-section">
    <h2 class="section-title">So Hot Right Now!</h2>
    <div class="container-slider">
        <div th:insert="slider.html :: slider"></div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>