<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Codecool Shop</title>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script type="module" src='/static/js/main.js' defer></script>
</head>

<body>

<div th:replace="navbar.html :: nav"></div>

<div class="container-media-section">
    <h2 class="section-title">So Hot Right Now!</h2>
    <div class="container-slider">

        <div class="media-container">
            <div class="media-scroller">

                <!--   Group 1 -->
                <div class="media-group" id="group-1">
                    <div class="media-element">
                        <img th:data-id="${products[0].id}"
                                th:attr="src='static/img/product_' + ${products[0].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
                    <div class="media-element">
                        <img th:data-id="${products[1].id}"
                                th:attr="src='static/img/product_' + ${products[1].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
                    <div class="media-element">
                        <img th:data-id="${products[2].id}"
                                th:attr="src='static/img/product_' + ${products[2].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>


                    <a class="next" href="#group-2" aria-label="next">
                        <svg>
                            <use href="#next"></use>
                        </svg>
                    </a>
                </div>

                <!-- Group 2   -->
                <div class="media-group" id="group-2">
                    <a class="previous" href="#group-1">
                        <svg>
                            <use href="#previous"></use>
                        </svg>
                    </a>
                    <div class="media-element">
                        <img th:data-id="${products[3].id}"
                                th:attr="src='static/img/product_' + ${products[3].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1641259041823-e09935369105?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
                    <div class="media-element">
                        <img th:data-id="${products[4].id}"
                                th:attr="src='static/img/product_' + ${products[4].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1642543492481-44e81e3914a7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
                    <div  class="media-element">
                        <img th:data-id="${products[0].id}"
                                th:attr="src='static/img/product_' + ${products[0].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1641118961077-440391095cdc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>

                    <a class="next" href="#group-3" aria-label="next">
                        <svg>
                            <use href="#next"></use>
                        </svg>
                    </a>
                </div>

                <!-- Group 3   -->
                <div class="media-group" id="group-3">
                    <a class="previous" href="#group-2">
                        <svg>
                            <use href="#previous"></use>
                        </svg>
                    </a>
                    <div class="media-element">
                        <img th:data-id="${products[1].id}"
                                th:attr="src='static/img/product_' + ${products[1].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1642484865851-111e68695d71?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
                    <div class="media-element">
                        <img th:data-id="${products[2].id}"
                                th:attr="src='static/img/product_' + ${products[2].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1642237778207-24985a0bf876?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
                    <div class="media-element">
                        <img th:data-id="${products[3].id}"
                                th:attr="src='static/img/product_' + ${products[3].id} + '.jpg'"
                                src="https://images.unsplash.com/photo-1642177584449-fa0b017dccc7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
                                alt="">
                    </div>
<div class="video-wrapper">
    <video playsinline autoplay muted loop poster="">
        <source src="/static/background-video/bgVideo.mp4" type="video/webm" loop>
        Your browser does not support the video tag.
    </video>

<div class="header">
    <h1>Trailer Shop</h1>
    <h2>Spend your money here</h2>
</div>
</div>

<div class="container">
    <div class="card">
        <strong th:text="${category.name}">Category Title</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="img" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>