<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="myModal" th:fragment="modal">
    <!-- The Modal -->
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button id="cross" type="button" class="close" data-dismiss="modal" style="color: #121212">&times;</button>
                    <h2>Shopping Cart</h2>
                </div>

                <!-- Modal body -->
                <div id="modal-root" class="modal-body">
                    <div id="place-holder">No products in the cart.</div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="total-price">
                        <h4>Total price: <span id="total-price">0 USD</span></h4>
                    </div>
                    <button id="close-modal-btn" type="button" class="modal-button btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="checkout-btn" type="button" class="modal-button btn-primary"><a href="/checkout"> Checkout</a></button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>