<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register.css"/>
</head>
<body>
<div class="container">

    <form id="signup" action="/save_sign_up" method="post">

        <div class="header">

            <h3>Sign Up</h3>

            <p>You want to fill out this form</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">

            <input type="text" name="name" placeholder="name" autofocus/>

            <input type="email" name="email" placeholder="e-mail" />

            <input type="password" name="password" placeholder="Password"/>


            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox"/><label class="terms">I accept the terms of
                use</label>
            </div>

            <input type="submit" value="register">

        </div>

    </form>

</div>

</body>
</html>