<!DOCTYPE html>
<html lang="en">

<body>
<div th:fragment="slider">
    <div class="media-container">
        <div class="media-scroller">

            <!--   Group 1 -->
            <div class="media-group" id="group-1">
                <div class="media-element">
                    <img th:data-id="${products[0].id}"
                         th:attr="src='static/img/product_' + ${products[0].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[1].id}"
                         th:attr="src='static/img/product_' + ${products[1].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[2].id}"
                         th:attr="src='static/img/product_' + ${products[2].id} + '.jpg'"
                         src=""
                         alt="">
                </div>

                <a class="next" href="#group-2" aria-label="next">
                    <svg>
                        <use href="#next"></use>
                    </svg>
                </a>
            </div>

            <!-- Group 2   -->
            <div class="media-group" id="group-2">
                <a class="previous" href="#group-1">
                    <svg>
                        <use href="#previous"></use>
                    </svg>
                </a>
                <div class="media-element">
                    <img th:data-id="${products[3].id}"
                         th:attr="src='static/img/product_' + ${products[3].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[4].id}"
                         th:attr="src='static/img/product_' + ${products[4].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[5].id}"
                         th:attr="src='static/img/product_' + ${products[5].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <a class="next" href="#group-3" aria-label="next">
                    <svg>
                        <use href="#next"></use>
                    </svg>
                </a>
            </div>

            <!-- Group 3   -->
            <div class="media-group" id="group-3">
                <a class="previous" href="#group-2">
                    <svg>
                        <use href="#previous"></use>
                    </svg>
                </a>
                <div class="media-element">
                    <img th:data-id="${products[6].id}"
                         th:attr="src='static/img/product_' + ${products[6].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[7].id}"
                         th:attr="src='static/img/product_' + ${products[7].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[8].id}"
                         th:attr="src='static/img/product_' + ${products[8].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <a class="next" href="#group-4" aria-label="next">
                    <svg>
                        <use href="#next"></use>
                    </svg>
                </a>
            </div>

            <!--  Group 4  -->
            <div class="media-group" id="group-4">
                <a class="previous" href="#group-3">
                    <svg>
                        <use href="#previous"></use>
                    </svg>
                </a>
                <div class="media-element">
                    <img th:data-id="${products[9].id}"
                         th:attr="src='static/img/product_' + ${products[9].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[10].id}"
                         th:attr="src='static/img/product_' + ${products[10].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
                <div class="media-element">
                    <img th:data-id="${products[11].id}"
                         th:attr="src='static/img/product_' + ${products[11].id} + '.jpg'"
                         src=""
                         alt="">
                </div>
            </div>

            <div class="navigation-indicators">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>
    </div>


    <svg>
        <symbol id="next" viewBox="0 0 256 512">
            <path fill="white"
                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
        </symbol>

        <symbol id="previous" viewBox="0 0 256 512">
            <path fill="white"
                  d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/>
        </symbol>
    </svg>

</div>


</body>
</html>